<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Sobre Mi</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/aboutme.css">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="landing-page">
        <div class="container">
            <div class="header-area space">
                <div class="logo">
                    <img class="logo-img" src="../IMG/LogoBlanco.png" alt="">
                    <b>Jhonatan Henriquez</b>
                </div>
                <ul class="links">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="aboutme.html">Sobre mi</a></li>
                    <li><a href="contactme.html">Contactame</a></li>
                    <li><a href="information.html">Informacion</a></li>
                    <li><a href="projects.html">Proyectos</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="btn-volver-margin">
        <button class="btn-volver"><a href="../index.html">Volver</a></button>
    </div>
    <div class="wrapper mantenimiento">
        <div class="typing-demo mantenimiento">¡Sitio en construcción!</div>
    </div>
</body>
</html>